<% if network[:asn_count].to_i > 0 %>
  <h4 class="heading-tertiary mb-2">AS Number Overview</h4>
  <p class="text-blue text-regular">
    <strong>Total ASNs Identified:</strong> <%= network[:asn_count] %>
  </p>
<% end %>
