<div class="text-regular mb-3">
  <strong>Domain:</strong> <%= asset[:domain].presence || "N/A" %> &nbsp;|&nbsp;
  <strong>ISP:</strong> <%= asset[:isp].presence || "N/A" %> &nbsp;|&nbsp;
  <strong>Risk:</strong> 
  <span class="<%= risk_level_class(asset[:risk_level]) %>">
    <%= asset[:risk_level] %>
  </span>
</div>
