<div>
  <h5 class="heading-tertiary mt-5">Open Ports</h5>
  <table class="table-base mt-3">
    <thead>
      <tr class="table-header">
        <th class="table-cell p-2 text-left">Port</th>
        <th class="table-cell p-2 text-left">Module</th>
        <th class="table-cell p-2 text-left">Version</th>
        <th class="table-cell p-2 text-left">SSL</th>
      </tr>
    </thead>
    <tbody>
      <% ports.each do |port| %>
        <tr>
          <td class="table-cell p-1"><%= port[:port] %></td>
          <td class="table-cell p-1"><%= port[:module] %></td>
          <td class="table-cell p-1"><%= port[:version].presence || "N/A" %></td>
          <td class="table-cell p-1">
            <%= render 'reports/partials/port_ssl_info', ssl: port[:ssl] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
