<div>
  <h4 class="heading-sm mb-3">Open Ports</h4>
  <table class="table-base">
    <thead>
      <tr>
        <th class="text-left">Port</th>
        <th class="text-left">Module</th>
        <th class="text-left">Version</th>
        <th class="text-left">SSL</th>
      </tr>
    </thead>
    <tbody>
      <% ports.each do |port| %>
        <tr>
          <td><%= port[:port] %></td>
          <td><%= port[:module] %></td>
          <td><%= port[:version].presence || "N/A" %></td>
          <td><%= render 'reports/partials/port_ssl_info', ssl: port[:ssl] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
