<div class="mb-6">
  <h4 class="heading-sm mb-3">DNS Records</h4>

  <% if dns_summary[:ns_records_info].present? %>
    <%= render 'reports/partials/ns_records', records: dns_summary[:ns_records_info], note: dns_summary[:ns_note] %>
  <% end %>

  <% if dns_summary[:mx_records_info].present? %>
    <%= render 'reports/partials/mx_records', records: dns_summary[:mx_records_info], note: dns_summary[:mx_note] %>
  <% end %>
</div>
