<div class="report-section">
  <h3 class="heading-secondary text-center">Executive Summary</h3>

  <% overview = @report_data.dig(:executive_summary, :overview) %>
  <% targets = @report_data.dig(:executive_summary, :targets_scope) %>
  <% highlights = @report_data.dig(:executive_summary, :high_level_findings) %>

  <% if overview.present? %>
    <p class="text-regular mb-4 text-left"><strong>Overview:</strong> <%= overview %></p>
  <% end %>

  <% if targets.present? %>
    <p class="text-regular mb-4 text-left"><strong>Scope:</strong> <%= targets %></p>
  <% end %>

  <%= render 'reports/partials/metric_boxes', highlights: highlights %>
</div>
