<div>
  <h4 class="heading-sm mb-3">Discovered Files</h4>
  <table class="table-base">
    <thead>
      <tr>
        <th class="text-left">File Name</th>
        <th class="text-left">URL</th>
      </tr>
    </thead>
    <tbody>
      <% files.each do |file| %>
        <tr>
          <td><%= file[:name].presence || "N/A" %></td>
          <td>
            <% if file[:url].present? %>
              <a href="<%= file[:url] %>" target="_blank" class="text-accent"><%= file[:url] %></a>
            <% else %>
              N/A
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
