<div class="logo-container">
  <a href="https://www.pwnandpatch.com" target="_blank">
    <%= image_tag "oktoboot-red-logo.png", alt: "Oktoboot Logo", class: "logo-image" %>
  </a>
</div>

<h1 class="heading-primary text-center mb-3">
  Threat Intelligence Report
</h1>

<p class="text-large text-center mb-7">
  <strong><%= @report_data.dig(:executive_summary, :targets_scope) || "Unspecified Domain" %></strong>
</p>

<p class="text-regular text-center mt-5">
  <strong>Created At:</strong> <%= @report_data[:created_at]&.to_s || "N/A" %><br>
  <strong>Updated At:</strong> <%= @report_data[:updated_at]&.to_s || "N/A" %>
</p>
