<h5 class="text-muted mt-6 mb-2">MX Records</h5>
<table class="table-base">
  <thead>
    <tr class="table-header">
      <th class="table-cell text-left">Name</th>
      <th class="table-cell text-left">IP</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |rec| %>
      <tr>
        <td class="table-cell"><%= rec[:name] %></td>
        <td class="table-cell"><%= rec[:ip] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if local_assigns[:note].present? %>
  <p class="text-small text-muted mt-2"><%= note %></p>
<% end %>
