<% if local_assigns[:ssl].present? %>
  <% ssl.each do |ssl_entry| %>
    <div class="ssl-info mb-1">
      <strong><%= ssl_entry[:common_name] %></strong><br>
      <span class="text-small text-muted"><%= ssl_entry[:issuer] %> | <%= ssl_entry[:versions] %></span>
    </div>
  <% end %>
<% else %>
  N/A
<% end %>
