<div class="mb-4">
  <h4 class="heading-sm mb-3 <%= style_class %>">
    <%= title %>
  </h4>
  <% risks.each do |risk| %>
    <div class="text-base mb-2">
      <span class="font-medium">‣</span> <span><%= risk %></span>
    </div>
  <% end %>
</div>
