<div>
  <h4 class="heading-tertiary mt-5 <%= color_class %>"><%= title %></h4>
  <% risks.each do |risk| %>
    <div class="risk-item text-regular ml-3 mt-2">
      <span class="font-medium">‣</span> <span><%= risk %></span>
    </div>
  <% end %>
</div>
